# Python
.venv/
venv/
__pycache__/
*.pyc

# Environment variables
.env

# Iceberg / data lake files
warehouse/
data/
metastore_db/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/